html {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 100%;
  background-color:black;
  height: 1px;
}

span {
    font-size: 22px;
}

.score {
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    margin-right: 10px;
    border-radius: 5%;
    display: inline-block;
    vertical-align: middle;
}

.score-container {
    margin-left: auto;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.current {
    width: 80px;
    background: tomato;
}

.highest {
    width: 110px;
    background: lightskyblue;
}

.card {
    border-top: 4px solid #000066;;
    display: flex;
    margin: auto;
    box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.35);
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 750px;
}

.header {
    align-items: center;
    display: flex;
    margin-bottom: 30px;
}

.title {
    margin: 0px;
    display: inline-block;
    font-size: 60px;
    position: relative;
    color: #000066;
}

.logo {
    display: inline-block;
    margin-right: 10px;
    width: 60px;
    height: 60px;
}

.explanation {
    font-size: 18px;
    margin-top: 10px;
}

.tile {
    width: 130px;
    height: 130px;
    border-radius: 5%;
    display: inline-block;
    margin-right: 15px;
}

.grid-row {
    margin-bottom: 7.5px;
    margin-top: 7.5px;
    margin-left: 15px;
    height: 130px;
}

.grid {
    background: white;
    position: relative;
    z-index: 2;
}

.grid-container {
    display: flex;
    flex-direction: column;
    background: gray;
    width: 600px;
    height: 600px;
    border-radius: 1%;
    margin: auto;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-top: 15px;
}
.game-container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 100px;
    justify-content: center;
    align-content: center;
    width: 600px;
}

.empty {
    background: lightgray;
    position: relative;
    z-index: 1;
}

.tile-background {
    width: 130px;
    height: 130px;
    border-radius: 5%;
    background: lightgray;
    position: absolute;
    z-index: 0;
}